<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Alpha Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- header section -->
  <header>
    <%= render 'layouts/navigation' %>
  </header>
  <!-- main section -->
  <main>
    <%= render 'layouts/messages' %>
    <div class="container">
      <%= yield %>
    </div>
  </main>
  <!-- footer section -->
  <footer class='container'>
    <%= render 'layouts/footer' %>
  </footer>
</body>
</html>
